<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="ShiftDBConnection" connectionString="Data Source=localhost\SQL2014;Initial Catalog=ShiftJobsDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ServiceName" value="Shift Server 1"/>
    
    <!-- Shift server settings -->
    <add key="MaxRunableJobs" value="10"/>
    <add key="ShiftPID" value="989eb606b35e4cea9f11bc155fb59e5d"/>
    <add key="TimerInterval" value="5000"/>
    <add key="CleanUpTimerInterval" value="10000"/>

    <add key="AssemblyFolder" value="client-assemblies\" />
    <!-- <add key="AssemblyListPath" value="client-assemblies\assemblylist.txt" /> -->

    <!-- OPTIONAL Encryption of Parameters in DB -->
    <!-- <add key ="ShiftEncryptionParametersKey" value="[OPTIONAL_ENCRYPTIONKEY]"/> -->

    <!-- Shift Cache - Redis -->
    <add key="UseCache" value="true" />
    <add key="RedisConfiguration" value="localhost:6379"/>
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
